<!DOCTYPE html>
<html>
  <head>
    <title><%= title %> </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%- include('parts/header'); %>
    <div class="user_box">
      <p>ユーザー名:<%= name %></p>
      <button type="submit" name="logout">Logout</button>
    </div>
    <table>
      <thead>
        <tr>
          <th>Dashboard</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>You Are Logged In!</td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
