<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
      <div class="header_logo">
        Laravel
      </div>
      <nav class="header_menu">
        <ul>
          <li><a href="/register">Register</a></li>
          <li><a href="/login">Login</a></li>
        </ul>
      </nav>
    </header>
    <form>
      <fieldset>
        <legend>Login</legend>
        <div>
          <label for="email">E-Mail Address</label>
          <input type="text" name="email" id="email">
        </div>
        <div>
          <label for="password">Password</label>
          <input type="password" name="password" id="password">
        </div>
        <div>
          <input type="checkbox" name="remember" id="remember">
          <label for="remember">Remember Me</label>
        </div>
        <div class="btn">
          <button type="submit" name="login">Login</button>
          <a href="">Forgot Your Password?</a>
        </div>
      </fieldset>
    </form>
  </body>
</html>
